<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>新增用户</title>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../dist/css/flat-ui.css" rel="stylesheet">
    <link href="../docs/assets/css/demo.css" rel="stylesheet">

    <link rel="../shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="../dist/js/vendor/html5shiv.js"></script>
      <script src="../dist/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header th:replace="common/header :: header"></header>
    <div class="container" style="margin-top: 50px">
      <div class="col-md-12">
          <h4>新增用户</h4>
          <form action="#" class="form">
          	 <div class="form-group">
              <input name="userId" type="text" class="form-control" placeholder="用户名,若是学生建议为学号">
            </div>
            <div class="form-group">
              <input name="password" class="form-control" placeholder="用户初始密码"></input>
            </div>
            <label class="radio" for="radio4a">
                <input type="radio" name=status data-toggle="radio" value="2" id="radio4a" required checked>
                  学生
              </label>
              <div th:if='${session.User.status } eq 0'>
              <label class="radio" for="radio4b">
                <input type="radio" name="status" data-toggle="radio" value="1" id="radio4b" required>
                  老师
              </label>
              </div>
               <button id="submit" class="btn btn-primary btn-lg btn-block">提交</button>
          </form>
      </div>
    </div> <!-- /container -->
    <script src="../dist/js/vendor/jquery.min.js"></script>
    <script src="../dist/js/vendor/video.js"></script>
    <script src="../dist/js/flat-ui.min.js"></script>
    <script src="../docs/assets/js/application.js"></script>
    <script>
    $("#submit").click(function (){
        var fieldName = [];
        var fieldValue = [];
      var fieldName = new Array();
      $(":input").each(function(){
        if($(this).attr('name')!=undefined && $(this).attr('name')!='status'){
         fieldName.push($(this).attr('name'));
         fieldValue.push($(this).val());
        }});
      //单独添加选项框
      //类型
      fieldName.push('status');
      fieldValue.push($('input:radio[name="status"]:checked').val());
      $.ajax({
            url:'/saveEntity',
            type:'POST', //GET
            async:true,    //或false,是否异步
            data:{
              'fieldName': fieldName,
              'fieldValue':fieldValue,
              'entity':'User'
            },
            timeout:5000,    //超时时间
            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            success:function(data){
                alert(data.msg);
            }
        })
       return false;
    });
    </script>
  </body>
</html>
