<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Please Login</title>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Loading Flat UI -->
    <link href="dist/css/flat-ui.css" rel="stylesheet" />
    <link href="docs/assets/css/demo.css" rel="stylesheet" />

    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="../dist/js/vendor/html5shiv.js"></script>
      <script src="../dist/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
       <div class="login">
        <div class="login-screen">
          <div class="login-icon">
            <img src="img/login/icon.png" alt="Welcome to Mail App" />
            <h4>Welcome to <small>HomeworkOL</small></h4>
          </div>

          <div class="login-form">
            <form action="/vaildLogin" method="post">
            <div class="form-group">
              <input id="userId" type="text" class="form-control login-field" value="" placeholder="Enter your name" name="login-name" />
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
              <input id="pass" type="password" class="form-control login-field" value="" placeholder="Password" name="login-pass" />
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <button id="submit" type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
            <button class="btn btn-primary btn-lg btn-block btn-warning" onclick="alert('请联系任课老师,或发邮件给837656665@qq.com')">Lost your password?</button>
          </form>
          </div>
            <span id="msg"></span>
            <div th:if="${errMsg}!=null">用户名或者密码错误</div>
        </div>
      </div>
    </div> <!-- /container -->
    <script src="dist/js/vendor/jquery.min.js"></script>
    <script src="dist/js/vendor/video.js"></script>
    <script src="dist/js/flat-ui.min.js"></script>
    <script src="docs/assets/js/application.js"></script>
    <script>
    var vaild = true;
    $(':input').blur(function (props){
      var value = $(this).val();
      if(value==""||value.trim()==""){
          $(this).parent().addClass('has-error');
          $('#msg').html('Name or password could not be null');
          $(':submit').attr("disabled",true);
      }else{
          $(this).parent().removeClass('has-error');
      }
      if($('.has-error').length==0){
         $('#msg').html('');
         $(":submit").attr('disabled',false);
         vaild = true;
      }
    });
    $("#submit").click(function (props){
      $('input').blur();
       $('#pass').val(md5($('#pass').val()));
      return vaild;
    });
    </script>
  </body>
</html>
